<%= render 'navbar' %>
<%= render 'menu' %>
<%- model_class = Lecture -%>
<div class="page-content"  style="padding: 5% 0px;">
  <div class="container-fluid">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <% if flash[:error] -%>
          <div class="alert alert-danger" >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
        <% if flash[:alert] -%>
          <div class="alert alert-warning" >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
        <% if flash[:notice] -%>
          <div class="alert alert-success" >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>        
      <% end %>
    <% end %>    
    <h1 class="page-heading">Palestras</h1>
    <div class="container-masonry">
      <ol>
        <% @lectures.order(:time).each do |lecture| %>
          <li class="item-masonry">
            <div class="the-box full no-border property-card mansory-inner">
              <%= link_to show_lecture_path(lecture.id) do %>
                <img src=<%= lecture.image %>  alt="Image" width="450" height="250">
              <% end %>
              <div class="the-box no-margin no-border bg-success">
                <h4><%= link_to lecture.title, show_lecture_path(lecture.id)%></h4>
                <hr>
                <div class="row">
                  <div class="col-xs-3">                    
                    <p>
                      <p class="property-type-circle bg-warning">Open</p>
                    </p>           
                  </div>
                  <div class="col-xs-9">
                    <h2><%= "Dia #{lecture.day} - #{lecture.time}" %></h1>
                    <h4><%= lecture.price %> R$</h2>
                  </div>
                </div>

                <% if lecture.users.include?(current_user)%>
                  <p>
                    <%= link_to 'Cancelar', unsubscribe_lecture_path(lecture.id), :method => :put, :class=>"btn btn-danger btn-block" %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to 'Cadastrar', subscribe_lecture_path(lecture.id), :method => :put, :class=>"btn btn-success btn-block" %>
                  </p>
                <% end %>
              </div>
            </div>      
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
<div class="page-content">
  <%= render 'footer' %>
</div>