<%= render 'layouts/navbar' %>
<%= render 'layouts/menu' %>
<div class="page-content" style="padding: 70px 0">
  <div class="container-fluid">
    <div class="panel with-nav-tabs panel-success panel-no-border">
      <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#wizard-1-step4" data-toggle="tab"><i class="fa fa-check"></i> Finalizando</a></li>
      </ul>
      </div>
      <div id="panel-collapse-1" class="collapse in">
        <div class="tab-content">          
          <div class="tab-pane fade active in" id="wizard-1-step4">
            <div class="panel-body">
              <h4 class="small-heading more-margin-bottom">Reveja o seu pedido</h4>
              <div class="alert alert-warning alert-block fade in alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Por favor cheque antes de confirmar !
                  <% if @pack != nil%>
                    Você está com o Pacote <%= @pack.title%>
                  <% end %>
                </strong>
              </div>
              <div class="table-responsive">
                <table class="table table-th-block table-striped table-dark">
                  <thead>
                    <tr>
                      <th>Produto</th>
                      <th>Descrição</th>
                      <th>Preço</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @order.each do |order| %>
                      <tr>
                        <td><img src=<%= order.image %> style="width: 100px;" alt="Image"></td>
                        <td><strong><%= order.title %></strong></td>
                        <td><strong class="text-danger"><%= order.price %> R$</strong></td>
                        <td><a href=<%= "/unsubscribe_#{order.class.name.downcase}/#{order.id}" %> data-method="put"><i class="fa fa-times"></i></a></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <% if @pack != nil %>
                <div class="table-responsive">
                  <table class="table table-th-block table-striped table-dark">
                    <thead>
                      <tr>
                        <th>Desconto - <%= @pack.price %> R$ </th>                      
                      </tr>
                    </thead>                 
                  </table>
                </div>
              <% end %>             
              <hr>              
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="small-heading more-margin-bottom">Pagamento</h4>
                  <form role="form">                    
                    <div class="form-group">
                      <label class="control-label">Total</label>
                      <div>
                        <p class="form-control-static text-danger"><%= @total %> R$</p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>      
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-sm-6 text-right">
                  <a href=<%= "/payment"%> class="btn btn-warning" target="_blank" data-method="post"><i class="fa fa-check"></i> Finish</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-content">
  <%= render 'layouts/footer' %>
</div>
