<%- model_class = Extra -%>
<div class="page-header">
  <h1>Produtos</h1>
</div>

<div class="row">

  <div class="span4">    
  </div>
  <div class="span4">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="span4">
  </div>    
</div>

<div class="container"> 
    <div class="row-fluid pricing-table pricing-three-column">
      <div class="row">
          <% @extras.order(:time).each do |extra| %>
            <div class="span4 plan" style="width: 300px;height: 300px;">          
              <ul>
                <li class="plan-feature"><%= extra.title %></li>
                <li class="plan-feature">(<%= extra.users.count %>/<%= extra.limit %>)</li>
                <% if extra.users.include?(current_user)%>
                  <p>
                    <div class="label label-danger">
                      <%= link_to 'Cancelar', unsubscribe_extra_path(extra.id), :method => :put, :class=>"btn btn-danger icon-white icon-ok" %>
                    </div>
                  </p>
                <% else %>
                  <p>
                    <div class="label label-danger">
                      <%= link_to 'Cadastrar', subscribe_extra_path(extra.id), :method => :put, :class=>"btn btn-success icon-white icon-ok" %>
                    </div>
                  </p>
                <% end %>
              </ul>
            </div>
          <% end %>
      </div>        
    </div>
</div>

<div class="form-actions" style="background-color: transparent">
  <%= link_to 'Voltar', "/index", :class => 'btn btn-info'%>
</div>