<%= render 'navbar' %>
<%= render 'menu' %>
<%- model_class = Extra -%>
<div class="page-content"  style="padding: 5% 0px;">
  <div class="container-fluid">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <% if flash[:error] -%>
          <div class="alert alert-danger" >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
        <% if flash[:alert] -%>
          <div class="alert alert-warning" >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
        <% if flash[:notice] -%>
          <div class="alert alert-success" >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>        
      <% end %>
    <% end %>    
    <h1 class="page-heading">Produtos</h1>
    <div class="container-masonry">
      <ol>
        <% @extras.order(:limit).each do |extra| %>
          <li class="item-masonry">
            <div class="the-box full no-border property-card mansory-inner">
              <img src=<%= extra.image %>  alt="Image" width="450" height="250">
              <div class="the-box no-margin no-border bg-success">
                <h4><%= link_to extra.title, show_extra_path(extra.id)%></h4>
                <hr>
                <div class="row">
                  <div class="col-xs-3">

                    <% if extra.users.count < extra.limit %>
                      <p>
                        <p class="property-type-circle bg-warning">Buy</p>
                      </p>
                    <% else %>
                      <p>
                        <p class="property-type-circle bg-danger">Over</p>
                      </p>
                    <% end %>   
                                     
                  </div>
                  <div class="col-xs-9">
                    <h1>(<%= extra.users.count %>/<%= extra.limit %>)</h1>
                  </div>
                </div>

                <% if extra.users.include?(current_user)%>
                  <p>
                    <%= link_to 'Cancelar', unbuy_extra_path(extra.id), :method => :put, :class=>"btn btn-danger btn-block" %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to 'Comprar', buy_extra_path(extra.id), :method => :put, :class=>"btn btn-success btn-block" %>
                  </p>
                <% end %>

              </div>
            </div>      
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
<div class="page-content">
  <%= render 'footer' %>
</div>